
.card_box {
	display: inline-block;
	width: 306px;
	height: 140px;

	margin: .5rem;

	border: 1px solid rgb(202, 202, 202);

	.card_box__info_card{
		display: flex;
	
		div {

			width: 120px;
			margin: .5rem;

				img {

					width: 100px;
					margin: .5rem;
		
				}
	
				button {
					width: 100px;
					margin-bottom: 10px;
					margin-left: .5rem;
			
				}


			
		}
	}

}


// .info_card__box_img{
// 	display: flex;
// 	// flex-flow: row column;
// }
