/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* Очищаем все отступы и границы */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	// border: 0;
}


/* Уравниваем поведение шрифтов и эл-тов для разных браузеров */ 
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Quicksand', sans-serif;
	line-height: 1.4;
	font-size: 14px;

}

/* Меняем подсчёт ширины блока */
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров */
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

/* Делаем эл-ты блочными */
nav,footer,header,aside{display: block;}


/*Наследование формами семейство шрифта*/
input,button,textarea{font-family: inherit;}

/*Убираем некоторые особенности в разных браузерах */
// input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*Обнуляем все заголовки H */
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
